.slideshow-container {
    position: relative;
    width: 100%;
    height: 35em;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/*Control del Carrusel*/
.control-img {
position: absolute;
width: 100%;
height: 35em;
display: flex;
justify-content: space-between;
}
#prev,#next {
    z-index: 1;
    width: 13%;
    height: 35em;
    opacity: 0;
    background-color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#prev:hover,#next:hover {
    opacity: 0.3;
}
.control-img div span {  
    font-size: 4em;
    color: azure;
}
/*----------------------------------*/

.slaider-img {
    width: 100%;
    filter: blur(3px);
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

/* SECCION CLIENTES */

.Clientes {
    width: 100%;
    height: 30em;
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}