body {
    font-family: "Lato", sans-serif;
    margin: 0px 0px 0px 0px;
}
nav {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(56, 94, 90);   /*Color de la Pagina*/
    align-items: center;
    z-index: 2;
    display: none;
}
#Abrir-Nav {
    margin-left: 5px;
    font-size:30px;
    cursor:pointer;
}
.div-colores-padre {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 55%;
}

#Color {
    width: 2em;
    height: 2em;
    border-radius: 50% 50% 50% 50%;
    cursor:pointer;
    background-color: #dc971f;  /*Color de la Pagina*/
    border: #000 solid 1px;
}
#Color-1 {
    width: 2em;
    height: 2em;
    border-radius: 50% 50% 50% 50%;
    cursor:pointer;
    background-color: rgb(56,94,90);
    border: #000 solid 1px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(56, 94, 90);         /*Color de la Pagina*/
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 40px;
    text-decoration: none;
    font-size: 25px;
    color: black;          /* Color de la Pagina */
    display: block;
    transition: 0.3s
}

.sidenav a:hover, a:focus {
    color: #f1f1f1;        /*Color de la Pagina*/
}

.Cerrar-Nav {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}
#Subir {
    border-radius: 50% 50% 50% 50%;
    display: none;
    width: 4em;
    height: 4em;
    background-color: rgb(56,94,90);
    position: fixed;
    top: 87%;
    left: 94%;
    opacity: 0.6;
    
}
#ImgSubir {
    border-radius: 50% 50% 50% 50%;
    width: 4em;
    height: 4em;
    cursor: pointer;
}
footer {
    position: relative;
    width: 100%;
    color: white;
    background-color: black;
    height: 10em;
    overflow: hidden;
}

/* Acomodar Todo en Uno */
/* body::-webkit-scrollbar {
    background-color: rgb(56, 94, 90); 
    width: 7px;
}
body::-webkit-scrollbar-thumb {
    background-color: #dc971f;
} */
.Lang {
    left: 95%;
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
nav .Lang img {
    width: 100%;
    height: 100%;
}
#tracc {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.239);
    width: 100%;
    height: 100px;
    border-radius: 10px;
    flex-direction: column;
    top: 35px;
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    cursor: default;
}
#tracc img {
    width: 100%;
    height: 100%;
}
#tracc div {
    cursor: pointer;
    width: 80%;
    height: 1.5em;
}
@keyframes BarraAnimacion{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes SubirAnimacion{
    from {
        opacity: 0;
    }
    to {
        opacity: 0.6;
    }
}

.Padre1 {
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: space-between;

}
.Hijo1 {
    width: 50%;
}
.Hijo1 img {
    width: 100%;
    height: 100%;
}
.Hijo2 {
    width: 50%;
    background-color: #222f3e;
}
.Padre2 {
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: space-between;

}
.Hijo3 {
    width: 50%;
    background-color: #576574;
}
.Hijo4 {
    width: 50%;
}
.Hijo4 img {
    width: 100%;
    height: 100%;
}
.Padre3 {
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: space-between;

}
.Hijo5 {
    width: 50%;
}
.Hijo5 img {
    width: 100%;
    height: 100%;
}
.Hijo6 {
    width: 50%;
    background-color: #222f3e;
}
.text-carrusel {
    background-color: rgba(49, 46, 46, 0.561);
    position: absolute;
    width: 45%;
    height: 9em;
    padding: 1%;
    left: 0px;

}
.text-carrusel span {
    margin: auto;
    position: absolute;
    color: ivory;
    left: 15%;
}
/* -------------------------------------------- */
h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    filter: drop-shadow(1px 1px 2px #ced6e0);
    color: #ced6e0;
    font-size: 2em;
    text-align: left;
    margin: 4.5% 7% 0% 7%;

}
.txt-empresa {
    text-align: left;
    line-height: 2.5em;
    margin: 5% 7% 0% 7%;
    font-family: 'Scope One', serif;
    font-size: 1.2em;
    color: #f5f6fa;
}
hr {
    position: absolute;
    position: left 0px;
    color: ivory;
    border-radius: 0% 50% 50% 0%;
    width: 20%;
}
